@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #F5E5E1;
    --cor-secundaria: #F9B487;
    --cor-terciaria: #000000;
    --cor-quartenaria: #427A76;
    --cor-hover: rgb(159, 159, 159);

    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: "Krona One", sans-serif;
}

* {
    margin: 0;
    padding:0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

  .cabecalho__menu {
    display: flex;
    gap: 80px;
  }

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}

 .cabecalho__menu__link:hover {
    color: var(--cor-hover);
  }

  .apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__titulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-primaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.apresentacao__links__navegacao:hover {
    border: 2px solid var(--cor-quartenaria);
    cursor: pointer;
    transform: scale(1.03);
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-secundaria);    
    font-weight: 600;
    font-size: 2.187rem;
    color: var(--cor-primaria);
}

.destaque-titulo {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    font-weight: 500;
}


.apresentacao__imagem {
    max-width: 40%;
    border-radius: 8px;
    box-shadow: 35px 15px 45px rgb(54, 52, 52);
}

.rodape {
    padding: 24px;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 0.937rem;
    font-weight: 400;
}

@media (max-width: 918px) {

    html {
        font-size: 12px;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 60px;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        margin-bottom: 2em;
    }

}
